mdiutil/src/test/resources/org/mdiutil/xml/resources/test2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="root" >
      <xs:sequence>
         <xs:element name="child" type="child" />
      </xs:sequence>
      <xs:attribute name="desc" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="child" >    
      <xs:attribute name="name" type="xs:string"/>
   </xs:complexType>
   <xs:element name="root" type="root"/>
</xs:schema>
