mdiutil/src/test/resources/org/mdiutil/xml/resources/testIncludeXSD2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
   <xs:complexType name="root" >
      <xs:sequence>
         <xs:element name="child"/>
      </xs:sequence>      
      <xs:attribute name="desc" type="xs:string"/>
   </xs:complexType>    
   <xs:complexType name="child" >    
      <xs:sequence>
         <xs:element name="child" minOccurs="0"/>
      </xs:sequence>        
      <xs:attribute name="name" type="xs:string"/>
   </xs:complexType>        
   <xs:element name="root" type="root"/>
   <xs:element name="child" type="child"/>
</xs:schema>
