mdiutil/src/test/resources/org/mdiutil/xml/resources/test4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="root" >
      <xs:sequence>
         <xs:element name="element"/>
      </xs:sequence>
      <xs:attribute name="desc" type="xs:string"/>
   </xs:complexType>
   <xs:element name="root" type="root"/>
   <xs:element name="element"/>
</xs:schema>
